.hidden{
    display: none;
}
body{
    background-image: url("/images/cinema-1.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    z-index: 1;
}
#content{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;

}
#card{
    display: flex;
    flex-direction: column;
    width: 300px;
    columns: 3;
    background-color: rgba(1, 1, 1, 0.23);
    color: whitesmoke;
    font-family: 'IM Fell English SC', serif;
    border: 3px solid whitesmoke;
    border-radius: 5px;
    margin-bottom: 25px;
}
button{
    background-color: rgba(59, 59, 59, 0.64);
    color: lightgray;
    font-family: 'IM Fell English SC', serif;
}
.title{
    text-align: center;
    margin: 5px;
}
img{
    height: 445px;
}
.rating{
    margin: 5px;
    text-align: center;
}
.edit{
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    font-family: 'IM Fell English SC', serif;
}
.delete{
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    font-family: 'IM Fell English SC', serif;
}
h1{
    color: whitesmoke;
    text-align: center;
    font-family: 'IM Fell English SC', serif;
}

#modal-container {
    width: 100vw;
    height: 100vh;
    background-color: rgba(100, 100, 100, 0.24);
    position: fixed;
    z-index: 998;
    top:0;
    left:0;
}

#modal {
    position: fixed;
    background-color: rgba(255, 255, 255, 0.75);
    width: 500px;
    z-index: 999;
    opacity: 1;
    visibility: visible;
    transition: all 0.3s;
    top: calc(50% - 250px);
    left: calc(50% - 250px);
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);

}


#modal > header {
    background-color: red;
    padding: 10px;
    color: #fff;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;

}

#modal > header > h3 {
    padding: 0;
    margin:0;
}

#modal > main {
    /*width: 400px;*/
    /*position: absolute;*/

    padding: 2em;
    background: white;
}

#modal > footer {
    background-color: #e8e8e8;
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;

}
#create{
    width: 100px;
}

